<footer class="footer">
    <div class="footer_con">
        <div class="con">
            <div class="nei">
                <div class="">
                    <ul class="di_nav clearfix">
                        <li><a href="scenic_overview.html">景区概况</a></li>
                        <li><a href="court_travel.html">文苑之旅</a></li>
                        <li><a href="comfortable.html">舒雅住宅</a></li>
                        <li><a href="news.html">新闻动态</a></li>
                        <li><a href="feedback.html">留言中心</a></li>
                        <li><a href="contact.html">联系我们</a></li>
                    </ul>
                    <div class="links">友情链接
                        <ul>
                            <li><a href="">百度文化</a></li>
                            <li><a href="">新浪微博</a></li>
                            <li><a href="">百度知道</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="lian">
                    电话：<a href="tel:021-31265245">021-31265245</a><br />
                    邮箱：<a href="mailto:Eason.wang@71360.com">Eason.wang@71360.com</a><br />
                    手机：<a href="tel:189 1610 1908">189 1610 1908</a><br />
                    地址：上海市虹口区水电路682号 天虹商务大厦6F、7F、11F<br />
                    <a href="map.html">网站地图</a><br />
						<span>
							<a href="#" target="_blank">
                                <img src="<?php echo base_url('commstyle/images/yu.png');?>" alt="" />
                            </a>

							<span class="er_a">
								<img src="<?php echo base_url('commstyle/images/er.png');?>" alt="" class="one_img"/>珍岛公众号<img src="<?php echo base_url('commstyle/images/erwei.png');?>" alt="" class="er_img"/>
							</span>
						</span>
                </div>

            </div>
        </div>

    </div>
    <div class="copy">Copyright© 2016  版权所有：上海珍岛茶业有限公司 更多模板：<a href="http://www.mycodes.net/" target="_blank"></a></div>
</footer>