<header class="header home_p">
    <div class="container">
        <div class="logo">
            <a href="index.html"><img src="<?php echo base_url('commstyle/images/logo.png')?>" alt="" /></a>
        </div>
        <a href="#mmenu" class="phone-nav"><i class="fa fa-list"></i></a>
        <div class="logo_right">
            <nav class="nav">
                <ul>
                    <li><a href="<?php echo site_url('home/Home/index');?>" class="active">首页</a></li>
                    <li><a href="<?php echo site_url('home/ScenicOverview/index');?>">景区概况</a></li>
                    <li><a href="<?php echo site_url('home/CourtTravel/index');?>">文苑之旅</a>
                        <ul>
                            <li><a href="court_travel.html">茶艺中心</a></li>
                            <li><a href="court_travel.html">万竹林海</a></li>
                            <li><a href="court_travel.html">创意中心</a></li>
                            <li><a href="court_travel.html">花草园艺</a></li>
                        </ul>
                    </li>
                    <li><a href="<?php echo site_url('home/ComforTable/index');?>">舒雅住宅</a></li>
                    <li><a href="<?php echo site_url('home/News/index');?>">新闻动态</a>
                        <ul>
                            <li><a href="news.html">公司新闻</a></li>
                            <li><a href="news.html">行业新闻</a></li>
                        </ul>
                    </li>
                    <li><a href="<?php echo site_url('home/FeedBack/index');?>">留言中心</a></li>
                    <li><a href="<?php echo site_url('home/Contact/index');?>">联系我们</a></li>
                </ul>
            </nav>
            <div class="search">
		  	 	<span class="sea_x">
		  	 		<input type="" name="" id="" placeholder="请输入关键词">
		  	 		<i class="fa fa-search"></i>
		  	 	</span>
            </div>
        </div>
    </div>
</header>