<!-- Jquery -->
<!--<script src="<?php echo base_url('admstyle/js/jquery-1.11.1.min.js')?>"></script>-->

<!-- Bootstrap -->
<script src="<?php echo base_url('admstyle/bootstrap/js/bootstrap.min.js')?>"></script>

<!-- Flot -->
<script src='<?php echo base_url("admstyle/js/jquery.flot.min.js")?>'></script>

<!-- Slimscroll -->
<script src='<?php echo base_url("admstyle/js/jquery.slimscroll.min.js")?>'></script>

<!-- Morris -->
<script src='<?php echo base_url("admstyle/js/rapheal.min.js")?>'></script>
<script src='<?php echo base_url("admstyle/js/morris.min.js")?>'></script>

<!-- Datepicker -->
<script src='<?php echo base_url("admstyle/js/uncompressed/datepicker.js")?>'></script>

<!-- Sparkline -->
<script src='<?php echo base_url("admstyle/js/sparkline.min.js")?>'></script>

<!-- Skycons -->
<script src='<?php echo base_url("admstyle/js/uncompressed/skycons.js")?>'></script>

<!-- Popup Overlay -->
<script src='<?php echo base_url("admstyle/js/jquery.popupoverlay.min.js")?>'></script>

<!-- Easy Pie Chart -->
<script src='<?php echo base_url("admstyle/js/jquery.easypiechart.min.js")?>'></script>

<!-- Sortable -->
<script src='<?php echo base_url("admstyle/js/uncompressed/jquery.sortable.js")?>'></script>

<!-- Owl Carousel -->
<script src='<?php echo base_url("admstyle/js/owl.carousel.min.js")?>'></script>

<!-- Modernizr -->
<script src='<?php echo base_url("admstyle/js/modernizr.min.js")?>'></script>

<!-- Simplify -->
<script src="<?php echo base_url('admstyle/js/simplify/simplify.js')?>"></script>
<script src="<?php echo base_url('admstyle/js/simplify/simplify_dashboard.js')?>"></script>

<script src="<?php echo base_url('admstyle/zdialog/js/jquery.form.js')?>"></script>

